<div *ngIf="(this.auth.isAuthenticated$ | async) === false">
  <p>Please log in.</p>
  <app-auth-button></app-auth-button>
</div>

<div *ngIf="this.auth.isAuthenticated$ | async">
  <form>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" sortable="fact">Fact</th>
          <th scope="col" sortable="source">Source</th>
          <th scope="col" sortable="approved">Approved</th>
        </tr>
      </thead>
      <tbody>
        @for (fact of facts$ | async; track fact.id) {
        <tr>
          <td>{{ fact.fact }}</td>
          <td>
            {{ fact.source }}
          </td>
          <td>
            {{ fact.approved | approved }}
          </td>
        </tr>
        } @empty {
        <tr>
          <td colspan="4" style="text-align: center">No facts found</td>
        </tr>
        }
      </tbody>
    </table>
  </form>
</div>
